:root {
  // colors
  --accent: hsla(185, 96%, 90%, 1);
  --dark-1: hsla(196, 64%, 24%, 1);
  --dark-2: hsla(215, 25%, 27%, 1);
  --light-1: hsla(0, 0%, 100%, 1);
  --light-2: hsla(214, 32%, 91%, 1);

  // shadow
  --shadow:
    0px 4px 6px -2px hsla(0, 0%, 0%, 0.05),
    0px 10px 15px -3px hsla(0, 0%, 0%, 0.1);

  // sizes
  --s-0: 0;
  --s-1: 0.0625rem;
  --s-4: 0.25rem;
  --s-14: 0.875rem;
  --s-16: 1rem;
  --s-20: 1.25rem;
  --s-26: 1.625rem;
  --s-18: 1.125rem;
  --s-32: 2rem;
  --s-40: 2.5rem;
  --s-48: 3rem;
  --s-140: 8.75rem;

  // line height
  --l-h-100: 1;
  --l-h-125: 1.25;
  --l-h-150: 1.5;
  --l-h-175: 1.75;
}